*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Lato', sans-serif;
}
body{
    background-color: rgb(248, 237, 215);
}
.container-fluid{
    margin: 0;
    padding: 2px;
}
.navigation{
    background-color: rgb(204, 179, 96);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1rem;
    color: rgb(138, 90, 90);
}
.words{
    font-size: 1.9rem;
    font-weight: bolder;
    color: rgb(138, 90, 90);
    display: flex;
}
.category{
    display: flex;
}
.category-items{
    margin: 0 1rem;
    font-weight: 800;
}
.latest-product{
    margin-top: 3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.pic{
    color: white;
    font-size: xx-large;
    font-weight: bolder;
    display: flex;
    justify-content: center;
    position: absolute;
}
.img{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    
}
.footer{
    background-color: rgb(204, 179, 96);
    color: rgb(138, 90, 90);
    height: 3rem;
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: larger;
    font-weight: bold;
}
.view-all{
    color: red;
    font-size: 1.5rem;
}
.latest-title{
    font-size: 1.5rem;
}
.card:hover{
    animation-name: big;
    animation-duration: 0.5s;
    animation-iteration-count: 1;
}
@keyframes big{
    25%{
        height: 100%;
        width: 100%;
    }
    50%{
        height: 100.5%;
        width: 101%;
    }
    75%{
        height: 101%;
        width: 102%;
    }
    100%{
        height: 102%;
        width: 103%;
    }
}
.cards{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 1rem;
    justify-items: stretch;
    grid-row-gap: 1rem;
}
.card{
    box-shadow: 7px 7px 7px rgb(199, 199, 199);
}
@media screen and (max-width:600px) {
    .navigation{
        flex-direction: column;
        align-items: center;
    }
    .cards{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .card{
        width: 80%;
        height: auto;
    }
}
@media screen and (max-width:767px){
    .cards{
        grid-template-columns: repeat(2, 1fr);
    }
}